.test{
    text-align: center;
    text-transform: uppercase;
    font-size:30px;
    animation: text-shadow 1.5s ease-in-out infinite;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    border: solid 10px ;
    margin-left:30% ;
    margin-right:30% ;
    box-shadow: #000 10px 10px 50px;

}
.check{

    color: #c0392b;
    font-size: 20px;
    font-weight: bold;

}

.label{
    color: #c0392b;
    font-size: 20px;
    font-weight: bold;
}
.setCusor{
    cursor: not-allowed;
}
.time{
    position:absolute;
    top:62%;
    width: 50vh;
    left: 15%;
    border:solid 10px slateblue;
    text-align: center;


}
@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }

    20% {  
        transform: translateY(-10px);
        text-shadow: 
            0 0.125px 0 #0c2ffb, 
            0 0.25px 0 #2cfcfd, 
            0 -0.125px 0 #fb203b, 
            0 -0.25px 0 #fefc4b;
    }

    40% {  
        transform: translateY(5px);
        text-shadow: 
            0 -0.0625em 0 #0c2ffb, 
            0 -0.125em 0 #2cfcfd, 
            0 0.0625em 0 #fb203b, 
            0 0.125em 0 #fefc4b;
    }
    
   60% {
        transform: translateY(-0.25px);
        text-shadow: 
            0 0.03125em 0 #0c2ffb, 
            0 0.0625em 0 #2cfcfd, 
            0 -0.03125em 0 #fb203b, 
            0 -0.0625em 0 #fefc4b;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #0c2ffb, 
            0 0 0 #2cfcfd, 
            0 0 0 #fb203b, 
            0 0 0 #fefc4b;
    }
}

  
/*WRAPPER*/
.wrapper {
    margin: 20px 130px 0;
    width: 266px;
    position: relative;
}
.disSpin{
    cursor: not-allowed;
}
.disSpin {
    width: 68px;
    height: 68px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -34px 0 0 -34px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 0px;
    z-index: 1000;
    background: #fff;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
    user-select: none;
}

.disSpin:after {
    content: 'SPIN';
    text-align: center;
    line-height: 68px;
    color: #ccc;
    text-shadow: 0 2px 0 #fff, 0 -2px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 100000;
    width: 68px;
    height: 68px;
    display: block;
}

.disSpin:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 28px 20px;
    border-color: transparent transparent #ffffff transparent;
    top: -12px;
    left: 14px;
}

.txt {
    position: absolute;
    top: 35%;
    left: 75%;
    color: #000;
    border: solid #16a085 2px;
    padding: 5px;
    font-size: 15px;

}

/*WHEEL*/
.wheel {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 8px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px, rgba(0, 0, 0, 0.05) 0px 3px 0px;
    transform: rotate(0deg);
}

.wheel:before {
    content: '';
    position: absolute;
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 242px;
    height: 242px;
    border-radius: 50%;
    z-index: 1000;
}

.innerWheel {
    width: 100%;
    height: 100%;
    transform: rotate(510deg);
    transition: all 4s cubic-bezier(0, 0.99, 0.44, 0.99);
}


.wheel div.sec {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 130px 75px 0;
    border-color: #19c transparent;
    transform-origin: 75px 129px;
    left: 50px;
    top: -4px;
    opacity: 1;
}

.wheel div.sec:nth-child(1) {
    transform: rotate(60deg);

    border-color: #16a085 transparent;
}
.wheel div.sec:nth-child(2) {
    transform: rotate(120deg);

    border-color: #2980b9 transparent;
}
.wheel div.sec:nth-child(3) {
    transform: rotate(180deg);

    border-color: #34495e transparent;
}
.wheel div.sec:nth-child(4) {
    transform: rotate(240deg);

    border-color: #f39c12 transparent;
}
.wheel div.sec:nth-child(5) {
    transform: rotate(300deg);

    border-color: #d35400 transparent;
}
.wheel div.sec:nth-child(6) {
    transform: rotate(360deg);

    border-color: #c0392b transparent;
}

.fa {
    margin-top: -100px;
    color: rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 10000000;
    display: block;
    text-align: center;
    font-size: 36px;
    margin-left: -15px;
    text-shadow: rgba(255, 255, 255, 0.1) 0px -1px 0px,
        rgba(0, 0, 0, 0.2) 0px 1px 0px;
}

.spin {
    width: 68px;
    height: 68px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -34px 0 0 -34px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 0px;
    z-index: 1000;
    background: #fff;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
    user-select: none;
}

.spin:after {
    content: 'SPIN';
    text-align: center;
    line-height: 68px;
    color: #ccc;
    text-shadow: 0 2px 0 #fff, 0 -2px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 100000;
    width: 68px;
    height: 68px;
    display: block;
}

.spin:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 28px 20px;
    border-color: transparent transparent #ffffff transparent;
    top: -12px;
    left: 14px;
}

.innerSpin {
    width: 54px;
    height: 54px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -27px 0 0 -27px;
    border-radius: 50%;
    background: red;
    z-index: 999;
    box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset,
        rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;

    background: rgb(255, 255, 255);

}

.spin:active .inner-spin {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

.spin:active:after {
    font-size: 15px;
}

.shine {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background: -moz-radial-gradient(
        center,
        ellipse cover,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.99) 1%,
        rgba(255, 255, 255, 0.91) 9%,
        rgba(255, 255, 255, 0) 100%
    );

    opacity: 0.1;
}

/*ANIMATION*/

@keyframes hh {
    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(7deg);
    }
}

.spin {
    animation: hh 1s;
}
