.div{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap: 8px 20px;
    width: 95vw;
    padding-left: 150px;
    padding-right: 150px;
    margin-top:20px ;
    
}

.btn{
    background-color: #a880f7;
    border: none;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    border-radius: 12px;
    outline: none;
    
}
.disable{
    background-color: #a880f7;
    border: none;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    border-radius: 12px;
    opacity: 0.5;
}
.box{
    position: relative;
    left: 5%;
}


