.div{
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin-top:10px;
    margin-bottom:50px ;
    padding-left:55px;
    padding-right:55px;
    margin-left:-10px;
    
}

.btn{
    background-color:transparent;
    border: none;
    color: black;
    display: inline-block;
    text-align: center;
    font-size: 50px;
    border-radius: 12px;
    outline: none;
    
}
.disable{
    background-color: transparent;
    border: none;
    color: black;
    display: inline-block;
    text-align: center;
    font-size: 50px;
    border-radius: 12px;
    opacity: 0.5;
}
.text{
    margin-left: 50px;
}
.landing {
    width: 95%;

    display: flex;
    justify-content: flex-end;
    padding: 2% 5% 0% 5%;
    cursor: default;
    position: relative;
    top: -10%;
}
.landingImg {
    width: 55%;
    position: relative;
    margin-top: -10%;
    left: 5%;

}
.landingContent {
    position: absolute;
    left: 8%;
    top: 24%;
    font-family: 'Quicksand', sans-serif;
}
.landingHeader {
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #3d467f;
}
.landingDescription {
    padding: 5% 0% 10% 0%;
    font-size: 1.1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #5b5b5b;
}