.container {
    padding: 15px;
    color: black;
    height: 305px;
    width: 290px;
}
.cardContainer {
    text-align: center;
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: transform 0.5s;

}
.cardContainer:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px #bdbdbd;
}
.picture{
    position: relative;
    top:20px;
    width:100px;
    height:100px;
}
.text2{
    font-size: 20px;
}
.text {
    position: relative;
    top:-30px;
    font-size: 20px;
}
.coin {
    position: relative;
    top: 15px;
}
.btn {
    margin-top: 50px;
    position: relative;
    top: -10px;
    padding: 12px 70px;
    background-color: #a880f7;
    border: none;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
}
